.project__btn-live {
  background: black;
  color: #ffde59;
  font-size: 1.1rem;
}
.project__btn-live:hover {
  background: #ffde59;
  color: black;
  border: black 1px solid;
}
.project__btn-github:hover {
  background: #ffde59;
  color: black;
  border: black 1px solid;
}
.project__btn-github {
  background: black;
  color: #ffde59;
  font-size: 1.1rem;
}
