body {
  background-color: #6610f2;
}
.app__container {
  height: 2000px;
}

/* Header */
.navbar {
  background-color: transparent;
  color: aliceblue;
}
.active-navbar {
  background-color: purple;
  color: aqua;
}
.active-link {
  border-top: white 1px solid;
}

/* Footer */
ul#footer__social-list li {
  list-style: none;
  display: inline;
}
